<div class="main-container">
    <div class="form-container">
      <h2>แบบฟอร์มขอลางาน</h2>
      <label>ประเภทการลา</label>
      <select>
        <option>เลือกประเภทการลา</option>
      </select>
      
      <div class="date-container">
        <div>
          <label>วันที่เริ่มต้น</label>
          <input type="date">
        </div>
        <div>
          <label>วันที่สิ้นสุด</label>
          <input type="date">
        </div>
      </div>
      <label>เหตุผลการลา</label>
      <textarea></textarea>

      <div class="button-container">
        <button class="cancel">ยกเลิก</button>
        <button class="submit">ส่งคำขอลา</button>
      </div>
    </div>
  </div>
  