<div class="main-container">
    <div class="stats-container">
        <div class="header">
          <div>
            <h2>สถิติการลาประจำเดือน</h2>
            <p>ข้อมูลการลาของพนักงานทั้งหมด</p>
          </div>
          <button class="export-btn" (click)="exportExcel()">⬇ Export Excel</button>
        </div>
      
        <div class="filter-card">
          <div class="input-group">
            <label for="month">เลือกเดือน</label>
            <div class="input-wrapper">
              <input type="month" id="month">
            </div>
          </div>
      
          <div class="input-group">
            <label for="department">แผนก</label>
            <div class="input-wrapper">
              <select id="department">
                <option value="">ทั้งหมด</option>
                <option value="HR">แผนก HR</option>
                <option value="CEO">แผนก CEO</option>
              </select>
            </div>
          </div>
        </div>
    
        <app-graph></app-graph>
        <app-leave-details></app-leave-details>
      </div>    
</div>
